<% unless @student.vaidate_required_field? %>
<h3>Application not yet completed..</h3>
<% end %>
  <%= render :partial => 'studentdetails', :locals => {:student => @student} %>
<%= (link_to 'Edit', edit_student_path(@student)) unless @student.vaidate_required_field? %>
<%= (link_to "back", root_path) unless current_user.student?  %>
